# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Day 1 Data Types!/nbproject/private/
/Day 1 Data Types!/build/
/Day 2 Arithmetic!/nbproject/private/
/Day 2 Arithmetic!/build/
/Day 3 If-Else Statements!/nbproject/private/
/Day 3 If-Else Statements!/build/
/ Day 4Logical Operators + Class vs. Instance!/nbproject/private/
/ Day 4Logical Operators + Class vs. Instance!/build/
/ Day 5 Loops!/nbproject/private/
/ Day 5 Loops!/build/
/ Day 6 Let's Review!/nbproject/private/
/ Day 6 Let's Review!/build/